.btn-browse {
  display: block;
  top: 95px;
  left: 12px;
  font-family: Arial,Helvetica,sans-serif;
  color: #636363;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(top,#fff 30%,#f1f1f1,#e5e5e5 100%);
  background-image: linear-gradient(to bottom,#fff 30%,#f1f1f1,#e5e5e5 100%);
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  padding: 14px 12px;
  line-height: 15px;
  cursor: pointer;
  width: 35%;
}
.btn-browse div.btn-text {
  font-family: archivo_narrowbold,sans-serif;
  font-size: 22px;
  margin: 0 6px;
}
.btn-browse div {
  display: inline-block;
  vertical-align: middle;
}

.card {
  border-radius: 0px !important;
  box-shadow: 0 4px 6px -2px rgba(0,0,0,.2);
  padding: 10px;
}
.card-header {
  border-bottom: 0px !important;
}
.card-img-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.card-text {
  text-align: center;
}

.banner__wrapper {
  margin: 10px;
  overflow: hidden;
}
.banner__img {
  height: 356px;
}
.banner__img-align, .banner__img-align-van {
  position: absolute;
  bottom: 0;
  left: 630px;
}
.banner__content-wrapper {
  width: 450px;
  height: 356px;
  padding-left: 66px;
  padding-right: 36px;
}
.banner__content-wrapper .banner__content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}
.banner__deal {
  color: #ed1c24;
}
.banner__deal span, .banner__product-title span, .banner__text span, .banner__title span {
  display: block;
}
.banner__text--large {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 120px;
  line-height: .917;
}
.banner__text--small {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 68px;
  line-height: .956;
}
.banner__text {
  width: 410px;
}
.banner__prod-title, .banner__text, .banner__trade-msg {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 30px;
  line-height: 1;
}
.banner * {
  padding: 0;
  margin: 0;
}
.banner__wrapper {
  position: relative;
}
.price-point {
  bottom: 22px;
  right: 42px;
  border-radius: 50%;
  padding: 32px 0 0;
  display: block;
  width: 155px;
  height: 155px;
  font-weight: 400;
  z-index: 5;
  position: absolute;
  background-color: #ed1c24;
  text-align: center;
  color: #FFF;
  font-family: 'Palanquin Dark', sans-serif;
}
.banner {
  display: block;
  margin-right: -.3em;
  margin-bottom: 15px;
  margin-left: -.3em;
  border: 1px solid #d1d1d1;
  overflow: hidden;
  height: 376px;
  background-color: #fff;
  box-shadow: 0 4px 6px -2px rgba(0,0,0,.2);
}
// ipad
@media (max-width: 992px) {
  .banner__img {
    height: 250px;
  }
  .banner__content-wrapper {
    padding-left: 20px;
  }
  .banner__img-align {
    left: 300px;
  }
  .banner__img-align-van {
    top: 175px;
    left: 360px;
  }
  .banner__img-van {
    height: 185px;
  }
  .banner__text--large {
    font-size: 100px;
  }
  .banner__text {
    font-size: 20px;
  }
}
// mobile
@media (max-width: 576px) {
  .banner__img {
    height: 220px;
  }
  .banner__text--large {
    font-size: 45px;
  }
  .banner__img-align {
    left: 0px;
  }
  .banner__content-wrapper {
    padding-left: 0px;
  }
  .banner__text--small {
    font-size: 22px;
  }
  .banner__text {
    font-size: 20px;
    width: 200px;
  }
  .price-point {
    right: 70px;
  }
  .banner__img-align-van {
    top: 130px;
    left: 0px;
  }
}
