
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Variables
@import "custom";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom
//@import "custom";

.navbar-laravel {
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.product-card {
  // height: 320px;
  margin-bottom: 12px;
  padding: 12px 12px 10px;
  border: 1px solid #d1d1d1;
  background-color: #FFF;
  box-shadow: 0 4px 6px -2px rgba(0,0,0,.2);
}

@media only screen and (max-width: 40em) {
  img.thumb-sm {
    width: 100%;
  }
}
img.thumb-sm {
  max-width: 136px;
}
